{% extends 'base.html' %}
{% load static %}
{% block title %}
Adhésion
{% endblock title %}

{% block varheader %}
<!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Nouveau Membre</h2>
			<div class="site-beradcamb">
				<a href="">Accueil</a>
				<span><i class="fa fa-angle-right"></i>Formulaire d'Adhésion</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

    {% endblock varheader %}

{% block content %}
	<!-- About section -->
	<!-- Contact section -->
	<section class="contact-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form class="contact-form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Nom*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Prénom(s)*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Profession:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Ecole, Entreprise ou Institution:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="E-mail*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="N° Téléphone*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-12">

								<!--<h5 class="mb-3">Moyen rapide de vous joindre<span>*</span>:</h5>
								<div class="contact-type">
									<label class="ct-label">Téléphone
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
									<label class="ct-label">Email
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
								</div>-->

								<button class="site-btn sb-gradients mt-4">Soumettre</button>
							</div>
						</div>
					</form>
				</div>

			</div>
		</div>
	</section>
	<!-- Contact section end -->
  {% endblock content %}