{% extends 'base.html' %}
{% load static %}
{% block title %}
Contact
{% endblock title %}

{% block varheader %}
 <!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Formulaire</h2>
			<div class="site-beradcamb">
				<a href="">Accueil</a>
				<span><i class="fa fa-angle-right"></i>Nous-contacter</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

    {% endblock varheader %}

{% block content %}
	<!-- About section -->
	<!-- Contact section -->
	<section class="contact-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<form class="contact-form">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Nom*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Prénom(s)*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="Email*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<input class="check-form" type="text" placeholder="N° Téléphone*:">
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<textarea placeholder="Votre préoccupation!"></textarea>
								</div>
								<h5 class="mb-3">Contact direct<span>*</span>:</h5>
								<div class="contact-type">
									<label class="ct-label">Téléphone
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
									<label class="ct-label">Email
										<input type="radio" name="radio">
										 <span class="checkmark"></span>
									</label>
								</div>

								<button class="site-btn sb-gradients mt-4">Soumettre</button>
							</div>
						</div>
					</form>
				</div>
				<div class="col-lg-5 mt-5 mt-lg-0">
					<div class="map" id="map-canvas"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->
  {% endblock content %}
