{% extends 'base.html' %}
{% load static %}
{% block title %}
Evènement de l'Association
{% endblock title %}

{% block varheader %}
    <!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Holélé</h2>
			<div class="site-beradcamb">
				<a href="">Accueil</a>
				<span><i class="fa fa-angle-right"></i>Evènements</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

    {% endblock varheader %}

{% block content %}
	<!-- About section -->
	<!-- Blog section -->
	<section class="blog-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8">

			<div class="row">
					<div class="col-lg-8">
						{% if messages %}
							  {% for msg in messages %}

        						  <div class="alert alert-{{msg.level_tag}} " role="alert" id="msg">
									 <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
									  </button>-->
            							{{msg.message}}
								  </div>

					          {% endfor %}

                    {% endif %}

				</div>
			</div>


					 <div class="row">
                <div class="col-md-12">
					<p>
                    <h1>
                        Evènements à venir
                      <!--  <a class="ical btn btn-default btn-xs" href="/events/calendar.ics">ICAL</a>
                        <a class="ical btn btn-default btn-xs" href="/events/map/">MAP</a>-->
					<hr>
                    </h1>
					</p>
                </div>
            </div>

					<div class="row">
						<!-- blog item -->
					{% if event_aVenir|length == 0 %}
						<div class="col-md-6">
							<div class="blog-item bi-feature">
								<div class="blog-text">

									<h2 class="blog-title"> Aucun évènement à venir pour l'instant. Restez à l'écoute</h2>

								</div>
							</div>
						</div>
					{%else %}
						{% for evenement in event_aVenir %}
						         	<div class="col-md-6">
							<div class="blog-item bi-feature">
								<figure class="blog-thumb">
									<img src="{{evenement.image_evenement.url}}" alt="" class="scaleImg">
								</figure>
								<div class="blog-text">
									<div class="post-date">{{evenement.date_debut}}</div>
									<h2 class="blog-title"><a href="{% url  'aup_ci:venir_event_show' event_id=evenement.id %}">{{evenement.titre}}</a></h2>
									<p>{{evenement.description|truncatewords:10}}...</p>
									<a href="{% url  'aup_ci:venir_event_show' event_id=evenement.id %}" class="readmore">En savoir + <i class="fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>

						{% endfor %}
						{%endif %}
						</div>
							<!-- blog item -->

						 <div class="row">
                <div class="col-md-12">
					<p>
                    <h2>
                       Quelques  Evènements Passés
					<hr>
                    </h2>
					</p>
                </div>
            </div>
					<div class="row">

						<!-- blog item -->
				        {% for evenement in event_passer %}
						         	<div class="col-md-6">
							<div class="blog-item bi-feature">
								<figure class="blog-thumb">
									<img src="{{evenement.image_evenement.url}}" alt="" class="scaleImg">
								</figure>
								<div class="blog-text">
									<div class="post-date">{{evenement.date_debut}}</div>
									<h2 class="blog-title"><a href="{% url  'aup_ci:passe_event_show' event_id=evenement.id %}">{{evenement.titre}}</a></h2>
									<p>{{evenement.description|truncatewords:10}}</p>
									<a href="{% url  'aup_ci:passe_event_show' event_id=evenement.id %}" class="readmore">En savoir + <i class="fa fa-angle-double-right"></i></a>
								</div>
							</div>
						</div>

						{% endfor %}
					</div>
				</div>
				<div class="col-lg-4 col-md-4 sideber pt-5 pt-lg-0">
					<!--<div class="widget-area">
						<h4 class="widget-title">NewsLetter</h4>
						<p>Souscrivez et recevez les dernières news.</p>
						<form class="widget-subscribe-from">
							<input type="text" placeholder="Votre email">
							<button class="site-btn sb-full-- sb-gradients">Souscrire</button>
						</form>
					</div>-->
					<div class="widget-area">
						<div class="widget">
							<h4 class="widget-title">Catégories</h4>
							<ul>
								<li><a href="#">Formation</a></li>
								<li><a href="#">Hackathon</a></li>
								<li><a href="#">Découverte</a></li>

							</ul>
						</div>
						<div class="widget">
							<h4 class="widget-title"> Derniers Posts</h4>
							<ul class="popular-posts">
								<li>
									<span>22 mars 2021</span>
									<h5><a href="">Algorithme avec Python</a></h5>
								</li>
								<li>
									<span>22 dec 2019</span>
									<h5><a href="">Sécurité basé sur le langage Python</a></h5>
								</li>

							</ul>
						</div>

						<div class="widget">
							<h4 class="widget-title">Follow Us</h4>
							<div class="social">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="" class="telegram"><i class="fa fa-google-plus"></i></a>
								<a href="" class="instagram"><i class="fa fa-instagram"></i></a>
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Blog section end -->
  {% endblock content %}


