
{% load static %}
<!-- Fact section -->
<section class="fact-section gradient-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
	<div class="fact">
	  <h2>16</h2>
	  <p>Membres <br> actifs</p>
	  <i class="ti-user"></i>
	</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
	<div class="fact">
	  <h2>12K</h2>
	  <p>lignes de Code<br> dans les doigts</p>
	  <i class="ti-align-left"></i>
	</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
	<div class="fact">
	  <h2>5</h2>
	  <p>Projets  <br> réalisés</p>
	  <i class="ti-blackboard"></i>
	</div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
	<div class="fact">
	  <h2>01</h2>
	  <p>An <br> d'existence</p>
	  <i class="ti-location-pin"></i>
	</div>
      </div>
    </div>
  </div>
</section>
<!-- Fact section end -->


<!-- Team section -->
<section class="team-section spad">
  <div class="container">
    <div class="section-title text-center">
      <h2>Notre Equipe</h2>
      <p>passionnée du codage et des challenges!</p>
    </div>
  </div>
  <div class="team-members clearfix">
    <!-- Team member -->
    <div class="member">
      <div class="member-text">
	<div class="member-img set-bg" data-setbg="{%static 'img/member/1.jpg' %}"></div>
	<h2>Malik KONE</h2>
	<span>Président de l'Association</span>
      </div>
      <div class="member-social">
	<a href=""><i class="fa fa-facebook"></i></a>
	<a href=""><i class="fa fa-linkedin"></i></a>
	<a href=""><i class="fa fa-twitter"></i></a>
      </div>
      <div class="member-info">
	<div class="member-img mf set-bg" data-setbg="{%static 'img/member/1.jpg' %}"></div>
	<div class="member-meta">
	  <h2>Malik KONE</h2>
	  <span>Président de l'Association</span>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- Team member -->
    <div class="member">
      <div class="member-text">
	<div class="member-img set-bg" data-setbg="{%static 'img/member/2.jpg' %}"></div>
	<h2>Ferdinand A. ATTA</h2>
	<span>Vice-Président</span>
      </div>
      <div class="member-social">
	<a href=""><i class="fa fa-facebook"></i></a>
	<a href=""><i class="fa fa-linkedin"></i></a>
	<a href=""><i class="fa fa-twitter"></i></a>
      </div>
      <div class="member-info">
	<div class="member-img mf set-bg" data-setbg="{%static 'img/member/2.jpg' %}"></div>
	<div class="member-meta">
	  <h2>Ferdinand A. ATTA</h2>
	  <span>Vice-Président</span>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- Team member -->
    <div class="member">
      <div class="member-text">
	<div class="member-img set-bg" data-setbg="{%static 'img/member/3.jpg' %}"></div>
	<h2>Wilfried M. MORIE</h2>
	<span>Sécrétaire</span>
      </div>
      <div class="member-social">
	<a href=""><i class="fa fa-facebook"></i></a>
	<a href=""><i class="fa fa-linkedin"></i></a>
	<a href=""><i class="fa fa-twitter"></i></a>
      </div>
      <div class="member-info">
	<div class="member-img mf set-bg" data-setbg="{%static 'img/member/3.jpg' %}"></div>
	<div class="member-meta">
	  <h2>Wilfried M. MORIE</h2>
	  <span>Sécrétaire</span>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- Team member -->
    <div class="member">
      <div class="member-text">
	<div class="member-img set-bg" data-setbg="{%static 'img/member/4.jpg' %}"></div>
	<h2>Rosalie W.F. TOKPA</h2>
	<span>Trésorière Générale</span>
      </div>
      <div class="member-social">
	<a href=""><i class="fa fa-facebook"></i></a>
	<a href=""><i class="fa fa-linkedin"></i></a>
	<a href=""><i class="fa fa-twitter"></i></a>
      </div>
      <div class="member-info">
	<div class="member-img mf set-bg" data-setbg="{%static 'img/member/4.jpg' %}"></div>
	<div class="member-meta">
	  <h2>Rosalie W.F. TOKPA</h2>
	  <span>Trésorière Générale</span>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <!-- Team member -->
    <div class="member">
      <div class="member-text">
	<div class="member-img set-bg" data-setbg="{%static 'img/member/5.jpg' %}"></div>
	<h2>Chimène A. MONSAN </h2>
	<span>Vice-Trésorière Générale</span>
      </div>
      <div class="member-social">
	<a href=""><i class="fa fa-facebook"></i></a>
	<a href=""><i class="fa fa-linkedin"></i></a>
	<a href=""><i class="fa fa-twitter"></i></a>
      </div>
      <div class="member-info">
	<div class="member-img mf set-bg" data-setbg="{%static 'img/member/5.jpg' %}"></div>
	<div class="member-meta">
	  <h2>Chimène A. MONSAN</h2>
	  <span>Vice-Trésorière Générale</span>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
</section>
<!-- Team section -->
