
{% load static %}
<!-- Fact section -->
	<section class="fact-section gradient-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>{%if nombre_membre >= 16 %}
							  {{nombre_membre}}
						     {%else %}
							  16
							 {%endif%}
						  </h2>
						<p>Membres <br> actifs</p>
						<i class="ti-user"></i>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>12K</h2>
						<p>lignes de Code<br> dans les doigts</p>
						<i class="ti-align-left"></i>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>5</h2>
						<p>Projets  <br> réalisés</p>
						<i class="ti-blackboard"></i>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="fact">
						<h2>01</h2>
						<p>An <br> d'existence</p>
						<i class="ti-location-pin"></i>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Fact section end -->


	<!-- Team section -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title text-center">
				<h2>Notre Equipe</h2>
				<p>passionnée du codage et des challenges!</p>
			</div>
		</div>
		<div class="team-members clearfix">
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="{%static 'img/member/1.png' %}"></div>
					<h2>Malik KONE</h2>
					<span>Président de l'Association</span>
				</div>
				<!--<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>-->
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="{%static 'img/member/1.png' %}"></div>
					<div class="member-meta">
						<h2>Malik KONE</h2>
					<span>Président de l'Association</span>
					</div>
					<p> Malik KONE est Docteur en Informatique de l'INP-HB et de l'Université du Mans (en France). Il est grand passionné du langage Python.</p>
				</div>
			</div>
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="{%static 'img/member/2.png' %}"></div>
					<h2>Ferdinand A. ATTA</h2>
						<span>Vice-Président</span>
				</div>
				<!--<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>-->
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="{%static 'img/member/2.png' %}"></div>
					<div class="member-meta">
						<h2>Ferdinand A. ATTA</h2>
						<span>Vice-Président</span>
					</div>
					<p> Ferdinand A. ATTA est un Doctorant en Informatique de l'INP-HB et passionné du langage Python depuis 2016. Il est également consultant-formateur des technologies Python</p>
				</div>
			</div>
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="{%static 'img/member/3.png' %}"></div>
					<h2>Wielfrid M. MORIE</h2>
					<span>Sécrétaire Générale</span>
				</div>
				<!--<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>-->
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="{%static 'img/member/3.png' %}"></div>
					<div class="member-meta">
						<h2>Wielfrid M. MORIE</h2>
					     <span>Sécrétaire Générale</span>
					</div>
					<p>Wielfrid M. MORIE est Docteur en Informatique de l'INP-HB, spécialisé en jeux éducatifs et passionné du langage Python.</p>
				</div>
			</div>
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="{%static 'img/member/4.jpg' %}"></div>
					<h2>Rosalie W.F. TOKPA</h2>
					<span>Trésorière Générale</span>
				</div>
				<!--<div class="member-social">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-linkedin"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
				</div>-->
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="{%static 'img/member/4.jpg' %}"></div>
					<div class="member-meta">
						<h2>Rosalie W.F. TOKPA</h2>
					<span>Trésorière Générale</span>
					</div>
					<p>Rosalie W.F. TOKPA est une Doctorante en Informatique de l'Université Félix Houphouët-Boigny de Cocody qui vient de démarrer une histoire d'amour avec le langage Python.</p>
				</div>
			</div>
			<!-- Team member -->
			<div class="member">
				<div class="member-text">
					<div class="member-img set-bg" data-setbg="{%static 'img/member/5.jpg' %}"></div>
					<h2>Chimène A. MONSAN </h2>
					<span>Vice-Trésorière Générale</span>
				</div>
				<!--<div class="member-social">
					<a href=""><i class="fab fa-facebook"></i></a>
					<a href=""><i class="fab fa-linkedin"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
				</div>-->
				<div class="member-info">
					<div class="member-img mf set-bg" data-setbg="{%static 'img/member/5.jpg' %}"></div>
					<div class="member-meta">
						<h2>Chimène A. MONSAN</h2>
					<span>Vice-Trésorière Générale</span>
					</div>
					<p>Chimène A. MONSAN est une Doctorante en Informatique de l'INP-HB qui vient de démarrer une histoire d'amour avec le langage Python.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- Team section -->