{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}
Evènement en détails
{% endblock title %}

{% block varheader %}
    <!-- Page info section -->
	<section class="page-info-section">
		<div class="container">
			<h2>Holélé</h2>
			<div class="site-beradcamb">
				<a href="">Accueil</a>
				<span><i class="fa fa-angle-right"></i>Evènements</span>
			</div>
		</div>
	</section>
	<!-- Page info end -->

    {% endblock varheader %}

{% block content %}
	<!-- About section -->
	<!-- Blog section -->
	<section class="blog-page spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">

			<div class="row">
					<div class="col-lg-8">
						{% if messages %}
							  {% for msg in messages %}

        						  <div class="alert alert-{{msg.level_tag}} " role="alert" id="msg">
									 <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
									  </button>-->
            							{{msg.message}}
								  </div>

					          {% endfor %}

                    {% endif %}

				</div>
			</div>


					 <div class="row">
                <div class="col-md-12">
					{%if es_a_venir == 0%}
					   	<div class="blog-item bi-feature">
								<figure class="blog-thumb">
									<img src="{{evenement.image_evenement.url}}" alt="">
								</figure>
								<div class="blog-text">
									<div class="post-date">Période de l'évenement: {{evenement.date_debut}} - {{evenement.date_fin}}</div>
									<h2 class="blog-title">{{evenement.titre}}</h2>
									<p> {{evenement.description}} </p>
									<a href="{% url  'aup_ci:contact'%}" class="readmore">Veuillez nous contacter pour des infos complémentaires <i class="fa fa-angle-double-right"></i></a>
								</div>
							</div>
					 {%else %}
					  <p>
                    <h1>
                       {{evenement.titre}}
					<hr>
                    </h1>
					</p>
					<div>
						<p>
							<figure class="blog-thumb">
									<img src="{{evenement.image_evenement.url}}" alt="">
								</figure>
						</p>
						<p>

						</p>

					</div>
					<div>
						<p>
							<b>Période :</b> {{evenement.date_debut}} - {{evenement.date_fin}}
						</p>
					</div>
						<div>
						<p>
							<b>Lieu :</b> {{evenement.lieu}}
						</p>
					</div>
					<div>
						<p>
							<b>Descriptif du lieu :</b> {{evenement.description_lieu}}
						</p>
					</div>
					<div>
						<p align="justify">
							<b>A propos de "{{evenement.titre}}" :</b> <h4>{{evenement.description}}</h4>
						</p>
					</div>
					<div>
						<p>
							 <h1>
                       Formulaire de participation
					<hr>
                    </h1>
						</p>
                        <form class="contact-form" method="post">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									{{ event_form.motif|as_crispy_field }}
									<!-- <input class="check-form" type="text" placeholder="Nom*:"> -->
									<span><i class="ti-check"></i></span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<!--<input class="check-form" type="text" placeholder="Prénom(s)*:">-->
									{{ event_form.courriel|as_crispy_field }}
									<span><i class="ti-check"></i></span>
								</div>
							</div>

					</div>
							<div class="row">
									<div class="col-md-12">
								<div class="form-group">
									<!--<input class="check-form" type="text" placeholder="Email*:"> -->
									{{ event_form.message|as_crispy_field }}
									<span><i class="ti-check"></i></span>
								</div>
								<button type="submit" name="detail_event" class="site-btn sb-gradients mt-4">Soumettre</button>
										<input type="hidden" value="{{evenement.id}}" name="eventId">

							</div>

				<!--	<div class="col-md-8 offset-md-4 ">
						{% if messages %}
							  {% for msg in messages %}

        						  <div class="alert alert-{{msg.level_tag}} " role="alert" id="msg">
									 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
									  </button>
            							{{msg.message}}
								  </div>

					          {% endfor %}

                    {% endif %}
			</div>-->
							</div>
						</form>


					{%endif%}
                </div>
            </div>


				</div>
				<!--<div class="col-lg-4 col-md-4 sideber pt-5 pt-lg-0">
					<div class="widget-area">
						<h4 class="widget-title">NewsLetter</h4>
						<p>Souscrivez et recevez les dernières news.</p>
						<form class="widget-subscribe-from">
							<input type="text" placeholder="Votre email">
							<button class="site-btn sb-full-- sb-gradients">Souscrire</button>
						</form>
					</div>
					<div class="widget-area">
						<div class="widget">
							<h4 class="widget-title">Catégories</h4>
							<ul>
								<li><a href="#">Formation</a></li>
								<li><a href="#">Hackathon</a></li>
								<li><a href="#">Découverte</a></li>

							</ul>
						</div>
						<div class="widget">
							<h4 class="widget-title"> Derniers Posts</h4>
							<ul class="popular-posts">
								<li>
									<span>22 mars 2021</span>
									<h5><a href="">Algorithme avec Python</a></h5>
								</li>
								<li>
									<span>22 dec 2019</span>
									<h5><a href="">Sécurité basé sur le langage Python</a></h5>
								</li>

							</ul>
						</div>

						<div class="widget">
							<h4 class="widget-title">Follow Us</h4>
							<div class="social">
								<a href="" class="facebook"><i class="fa fa-facebook"></i></a>
								<a href="" class="telegram"><i class="fa fa-google-plus"></i></a>
								<a href="" class="instagram"><i class="fa fa-instagram"></i></a>
								<a href="" class="twitter"><i class="fa fa-twitter"></i></a>
							</div>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</section>
	<!-- Blog section end -->
  {% endblock content %}


