<!-- About section -->
{% load static %}
<section class="about-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-6 about-text">
	<h2>Pourquoi choisir Python?</h2>
	<h5>Python est un langage qui peut s'utiliser dans de nombreux contextes.</h5>
	<p>Il est adapté pour tout type d'utilisation grâce à des bibliothèques spécialisées à chaque traitement.</p>
	<a href="" class="site-btn sb-gradients sbg-line mt-5">En savoir +</a>
      </div>
    </div>
    <div class="about-img">
      <img src="{% static 'accueil/img/about-img.png' %}" alt="">
    </div>
  </div>
</section>
<!-- About section end -->
