<!-- Blog section -->
{% load static %}
<section class="blog-section spad">
      <div class="container">
	<div class="section-title text-center">
	  <h2>Actualités</h2>
	  <p>Tout sur la vie associative.</p>
	</div>
	<div class="row">
	  <!-- blog item -->
	  <div class="col-md-4">
	    <div class="blog-item">
	      <figure class="blog-thumb">
		<img src="{% static 'accueil/img/blog/1.jpg' %}" alt="">
	      </figure>
	      <div class="blog-text">
		<div class="post-date">27 juillet 2021</div>
		<h4 class="blog-title"><a href="accueil">Les merveilles du Framework Django basé sur Python</a></h4>
		<div class="post-meta">
		  <a href="accueil"><span>par</span> Admin</a>
		  <a href="accueil"><i class="fa fa-heart-o"></i> 234 Likes</a>
		  <a href="accueil"><i class="fa fa-comments-o"></i> 05 commentaires</a>
		</div>
	      </div>
	    </div>
	  </div>
	  <!-- blog item -->
	  <div class="col-md-4">
	    <div class="blog-item">
	      <figure class="blog-thumb">
		<img src="{% static 'accueil/img/blog/2.jpg' %}" alt="">
	      </figure>
	      <div class="blog-text">
		<div class="post-date">28 juin 2021</div>
		<h4 class="blog-title"><a href="accueil">Blockchain au coeur de l'économie nigérianne</a></h4>
		<div class="post-meta">
		  <a href="accueil"><span>par</span> Admin</a>
		  <a href="accueil"><i class="fa fa-heart-o"></i> 234 Likes</a>
		  <a href="accueil"><i class="fa fa-comments-o"></i> 08 commentaires</a>
		</div>
	      </div>
	    </div>
	  </div>
	  <!-- blog item -->
	  <div class="col-md-4">
	    <div class="blog-item">
	      <figure class="blog-thumb">
		<img src="{% static 'accueil/img/blog/3.jpg' %}" alt="">
	      </figure>
	      <div class="blog-text">
		<div class="post-date">20 juin 2021</div>
		<h4 class="blog-title"><a href="accueil">Les prouesses technologiques basées sur le langage Python.</a></h4>
		<div class="post-meta">
		  <a href="accueil"><span>par</span> Admin</a>
		  <a href="accueil"><i class="fa fa-heart-o"></i> 234 Likes</a>
		  <a href="accueil"><i class="fa fa-comments-o"></i> 08 commentaires</a>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </section>
<!-- Blog section end -->
