<!-- Header section -->
{% load static %}
<header class="header-section clearfix">
  <div class="container-fluid">
    <a href="index.html" class="site-logo">
      <img src="{% static 'accueil/img/logo1.png' %}" alt="">
    </a>
    <div class="responsive-bar"><i class="fa fa-bars"></i></div>
    <a href="index.html" class="user"><i class="fa fa-user"></i></a>
    <a href="adhesion.html" class="site-btn">Adhésion</a>
    <nav class="main-menu">
      <ul class="menu-list">
	<li><a href="index.html">Acceuil</a></li>
	<li><a href="event.html">Evènement</a></li>
	<li><a href="about.html">Qui Sommes-Nous</a></li>
	<li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
<!-- Header section end -->
