{% load static %}
<!-- Hero section -->
<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ">
	<div class="blog-item">
	  <figure class="blog-thumb">	
	    <img src="{% static 'accueil/img/blog/6.jpg' %}" alt="">
	  </figure>
	  <div class="blog-text">
	    <div class="post-date">23 au 25 août 2021</div>
	    <h4 class="blog-title align-items-center"><a href="#">Bootcamp Python</a></h4>
	    <button class="site-btn sb-full-- sb-gradients">S'inscrire</button>
	    <div class="post-meta">
	      <a href="accueil"><i class="fa fa-map-marker"></i> LARIT</a>
	      <a href="accueil"><i class="fa fa-clock-o"></i> 08h00 - 12h00</a>
	      <a href="accueil"><i class="fa fa-ticket"></i> 30 Places</a>
	    </div>
	  </div>
	</div>
	
      </div>
      <div class="col-md-8">
	<img src="{% static 'accueil/img/laptop.png' %}" class="laptop-image" alt="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 hero-text">
	
      </div>
    </div>
  </div>
</section>
<!-- Hero section end -->
