{% extends 'accueil/base.html' %}
<!-- Page Preloder -->
{% block content-main %}
<div id="preloder">
  <div class="loader"></div>
</div>


{% include 'accueil/home_includes/header-section.html' %}
{% include 'accueil/home_includes/hero-section.html' %}
{% include 'accueil/home_includes/about-section.html' %}
{% include 'accueil/home_includes/feature-section.html' %}
{% include 'accueil/home_includes/process-section.html' %}
{% include 'accueil/home_includes/fact-section.html' %}
{% include 'accueil/home_includes/team-section.html' %}
{% include 'accueil/home_includes/newsletter-section.html' %}
{% include 'accueil/home_includes/blog-section.html' %}
{% include 'accueil/home_includes/footer-section.html' %}
{% include 'accueil/home_includes/scripts.html' %}

{% endblock %}


